.Inbox {
    &__papper {
        padding: 20px 30px;

        .header {
            padding-top: 10px;
            padding-bottom: 20px;
        }
        .content {
            padding-bottom: 20px;
        }
        .formControl {
            width: 100%;
        }
    }
    &__reply {
        margin-top: 20px;
    }
}