.newMail {
    width: 90%;
    background-color: #fff;
    cursor: pointer;
    text-align: center;
    padding: 15px 0;
    color: rgba(0, 0, 0, 0.87);
    font-size: 1rem;
    font-weight: 400;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.5em;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 60px;
    margin: 10px 10px 0 10px;
    outline: 0;
    position: relative;
    transition: .5s all;
    .iconNewMail {
        // border: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 50%;
        color: rgba(0, 0, 0, 0.5);
        font-size: 30px;
        padding: 12px;
        position: absolute;
        left: 0;
        top: 0;
        transition: 1s all;
        animation: 1s turnRoundUnClck;
    }
    &:hover {
        text-align: center;
        padding-left: 25px;
        font-weight: bold;
        color: #fff;
        background: #2196f3;
        border: 1px solid rgba(#2196f3, 0.5);
        box-shadow: 0px 0px 20px rgba(#2196f3, 0.8);
        & .iconNewMail {
            animation: 1s turnRoundClck;
            padding: 7px;
            font-size: 40px;
            color: #4285F4;
            background: #f9f9f9;
        }
    }
}

@keyframes turnRoundClck {
    0% {
        transform: rotate(0deg);
        color: rgba(0, 0, 0, 0.5);
    }
    25% {
        color: #EA4335;
    }
    
    50% {
        color: #FBBC05;
    }

    75% {
        color: #34A853;
    }
    100% {
        transform: rotate(360deg);
        color: #4285F4;
    }
}

@keyframes turnRoundUnClck {
    0% {
        transform: rotate(360deg);
        color: rgba(0, 0, 0, 0.5);
    }
    
    25% {
        color: #EA4335;
    }
    
    50% {
        color: #FBBC05;
    }

    75% {
        color: #34A853;
    }

    100% {
        transform: rotate(0deg);
        color: #4285F4;
    }
}