.LoginBackground {
    background-image: url('https://auth.gfx.ms/16.000.27920.00/images/Backgrounds/0.jpg?x=a5dbd4393ff6a725c7e62b61df7e72f0');
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    margin-left: -8px;
    padding: 0;
}

.Login {
    position: relative;
    max-width: 500px;
    min-width: 300px;
    padding: 20px 20px;
    position: absolute;
    top: 50;
    left: 50;
    transform: translate(-50%, 50%);
    animation: 5s infinite linear animation;
    background-color: #fff;
    opacity: .8;
    .form {
        .form-group {
            .form-control {
                width: 100%;
            }
        }
        .form-button {
            margin: 20px 0;
        }
    }
}

@keyframes animation {
    0% {
        box-shadow: -1px -3px 20px rgba(#fb0094, 0.25), 1px 3px 20px rgba(#0000ff, 0.8);
    }
    25% {
        box-shadow: -1px -3px 20px rgba(#00ff00, 0.25), 1px 3px 20px rgba(#ffff00, 0.8);
    }
    50% {
        box-shadow: -1px -3px 20px rgba(#ff0000, 0.25), 1px 3px 20px rgba(#fb0094, 0.8);
    }
    75% {
        box-shadow: -1px -3px 20px rgba(#00ff00, 0.25), 1px 3px 20px rgba(#ffff00, 0.8);
    }
    100% {
        box-shadow: -1px -3px 20px rgba(#fb0094, 0.25), 1px 3px 20px rgba(#0000ff, 0.8);
    }
}